<%= form_with model:user_password, url: password_shares_path(password) do |form|%>
    <div>
         <%= form.label :user_id%>
         <%= form.text_field :email%>
    </div>
    
    <div>
         <%= form.label :role%>
         <%= form.select :role, UserPassword::ROLES.map{|r| [r.titleize, r]} %>
    </div>

    <div>
        <%= form.submit "Share",  class: " cursor-pointer no-underline bg-blue-500 hover:bg-blue-500 text-white mt-4 font-bold py-2 px-4 rounded" %>
    </div>
<%end%>