<div class="flex flex-col items-center">
  <div class="flex flex-col items-center ">
     <h1 class="railspass mb-0">RailsPass</h1>
    <p class="solgan">Where security meets simplicity.</p>
  </div>

  <div class="max-w-md w-full bg-white rounded-lg overflow-hidden shadow-md p-6">
    <h2 class="text-2xl font-bold mb-4">Log in</h2>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="mb-4">
        <%= f.label :email, class: "block mb-1" %>
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "w-full border rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" %>
      </div>

      <div class="mb-4">
        <%= f.label :password, class: "block mb-1" %>
        <%= f.password_field :password, autocomplete: "current-password", class: "w-full border rounded-md px-3 py-2 focus:outline-none focus:border-blue-500" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="mb-4">
          <%= f.check_box :remember_me, class: "mr-2 h-4 w-4 align-middle text-blue-500" %>
          <%= f.label :remember_me, class: "text-sm text-gray-700" %>
        </div>
      <% end %>

      <div>
        <%= f.submit "Log in", class: "bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600 focus:outline-none focus:bg-blue-600" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>
